[submodule "backend-laravel"]
	path = backend-laravel
	url = https://github.com/raufkhandevs/relay-laravel.git
[submodule "mobile-react-native"]
	path = mobile-react-native
	url = https://github.com/raufkhandevs/relay-react-native.git
[submodule "desktop-electron"]
	path = desktop-electron
	url = https://github.com/raufkhandevs/relay-electron.git
